.level-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo-level {
  width: 200px;
  margin-top: 40px;
}

.titre-level {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: var(--color-secondary);
}

.level-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.radio-group {
  padding: 20px 50px;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  padding: 20px 50px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 5px; /* Coins arrondis pour un effet de touche */
  border: var(--color-secondary) 2px solid;
  font-size: 1.2rem;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  box-shadow: 0 4px var(--color-primary); /* Ombre pour l'effet de surélévation */
  transition: all 0.3s ease;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.radio-group input[type="radio"]:checked + label {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  box-shadow: 0 2px var(--color-primary); /* Ombre réduite pour l'effet enfoncé */
  transform: translateY(2px); /* Déplacement pour simuler l'enfoncement */
}

.radio-group label:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transform: scale(1.05); /* Effet au survol */
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.submit-button {
  padding: 20px 90px;
  background-color: transparent;
  color: var(--color-secondary);
  border-radius: 30px;
  border: var(--color-secondary) 2px solid;
  font-size: 1.5rem;
  font-family: "IBM Plex Mono", monospace;
}