:root {
  --color-primary: #14192F;
  --color-secondary: #FFFEEB;
  --color-background: #1c223d;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: "IBM Plex Mono", monospace;
}